.App {
  text-align: center;
  background-color: #282c34;

 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login{
   
  height: 45vmin;
  width: 60vmin;
  border: solid 2px #fff;
  margin-top: 1%;
  border-radius: 10%;
   font-size: small;
   
}
.lbllogin{
font-size:  x-large;
margin-top: 1vmin;
}
.senha{
margin-bottom: 2vw;
font-size: large;
width: 90%;

}
.usuario{
font-size: large;
width: 90%;
}
