body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login{
   
    height: 40vw;
    width: 40%;
    border: solid 2px #fff;
    margin-top: 2%;
    border-radius: 10%;
     font-size: small;
     
}
.lbllogin{
  font-size:  x-large;
  margin-top: 10vw;
}
.senha{
  margin-bottom: 2vw;
  font-size: large;
  width: 90%;
  
}
.usuario{
  font-size: large;
  width: 90%;
}