.menu
     {
    min-width: 100%;
    height: 7vw;
    margin-top: 10;
background-color: #454c5a;
padding: 0px;
 border-color: aliceblue solid 4px;
   
}
a{
     color: antiquewhite;
     margin-left: 2%;
     text-decoration: none;

}