.menu
{   
     display: flex;
     min-width: 100%;
    height: 2.6vw;
background-color: #454c5a;
 border-color: aliceblue solid 4px;
   
}
a{
     color: antiquewhite;
     margin-left: 2%;
     text-decoration: none;
    
}
.cart{
    
     height: 4vmin;
    
     border:solid 2px rgb(156, 109, 47) ;
   
}
.containerCard{
     margin-left: 78%;
}