.App {
 
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    font-size: calc(10px + 1vmin);
  }
  .geral{
    margin-top: 0;
  }
  .container{
     display: flex;
    align-items: center;
     flex-direction: column;
    background-color: #494646;
    min-width: 98vw;
    border-radius: 30PX;
    margin-bottom: 5px;
    
  }
  .img{
    height: 25vmin;
    width: 30%;
  
  }
  .titulo{
    font-size: medium;
    color: #7bf1b0;
  }
  .texto{
    font-size:small;
  }
   .container :hover{
    border: solid 1px #7bf1b0;
   }